.projects {
    background-color: rgba(0, 0, 0, .75);
    background-image: url(../../assets/fondoEstrella.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-project {
    height: 800px;
    display: flex;
    gap: 15px;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.box-opacity {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-card {
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 20px;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

h2 {
    text-align: center;
    color: #ff5586;
    margin: 10px;
}

.container-card p {
    padding: 10px;
    color: white;
}

.buttons-view {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    place-items: center;
}

.logos-project {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}