.container-project {
    display: flex;
    gap: 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

#projects {
    padding-top: 16px;
    background: #212121;
}

.box-opacity {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.container-card {
    background-color: #151515;
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-bottom: 44px;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 32px;
}

.container-card p {
    color: #DBDDDF;
    width: 300px;
    margin-bottom: 24px;
}

.buttons-view {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 28px;
}

.logos-project {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 4px;
}


.container-image-card {
    border: 2px solid #DBDDDF;
    overflow: hidden;
    border-radius: 10px;
    width: 380px;
    height: 240px;
}

.container-image-card img {
    width: 100%;
    height: auto;
}