.button {
    border-radius: 8px;
    border: 2px solid;
    padding: 8px 16px;
    font-size: 1em;
    font-weight: 500;

    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: border-color 0.5s;
    place-items: center;
    display: flex;
    gap: 4px;
    text-decoration: none;
    justify-content: center;
}

.button:hover {

    border-color: #ffffff;

    place-items: center;
    display: flex;
    gap: 4px;
    text-decoration: none;
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}