.container-form {
    background-image: url(../../assets/FondoGatoNegro.png);  
}

.opacity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    gap: 16px;
    flex-wrap: wrap;
   
}

input,
textarea {
    padding: 16px;
    border-radius: 10px;

}

textarea:hover {
    border-color: #DBDDDF;
}

textarea:focus,
textarea:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input:hover {
    border-color: #DBDDDF;
}

input:focus,
input:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    margin-bottom: 24px;
}

@media (max-width:420px) {
    .form {
        width: 320px;
    }
}