.navbar {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: white;
}

.social-network {
    display: flex;
}

.navbar li {
    display: inline;
    padding: 8px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.navbar li a:hover {
    transition: 200ms ease-in;
    color: #ff5586;
}

.hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 8px;
}

.linea {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 4px;
}

.navbar-lista {
    display: flex;
    list-style: none;
}

.navbar-lista li {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .hamburguesa {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-lista {
        display: none;
    }

    .navbar-lista.visible {
        display: flex;
        flex-direction: column;
    }
}