.skills {
    height: 400px;
}

.icon-container {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #ff5586;
}

.icon-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-box:hover {
    border-radius: 10px;

}