.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 56px;
}

.title-skills {
  margin: 32px 0;
}

/*#151515, #212121, #DBDDDF, #E4005A*/
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 36px;
  color: #ff5586;
}

.icon-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #212121;
  border-radius: 16px;
  padding: 16px;
}
.icon-box:hover {
  background-color: #4c4952;
}

.logo-title {
  color: #dbdddfbb;
}
