.main-container {
    background-image: url(../../assets/fondoEstrella.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.opacity {
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: max-content;
}

main .title {
    margin: 10px 0;
}

main p.description {
    max-width: 660px;
    text-align: center;
    line-height: 1.3em;
    color: #ccc
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}

.photo-avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 3px -2px 47px 17px rgba(255, 85, 134, 1);
    -moz-box-shadow: 3px -2px 47px 17px rgba(255, 85, 134, 1);
    box-shadow: 3px -2px 47px 17px rgba(255, 85, 134, 1);
    margin-bottom: 40px;

}


.photo-avatar img {
    width: 250px;
    height: auto;
}